# Java/Spring Boot Ignore
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/archetype-resources/**
!**/src/main/resources/projects/first/archetype-resources**/target/
*.class
*.db
*.log

# Node/React Ignore
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# IDE Ignore
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# OS Ignore
.DS_Store
Thumbs.db
desktop.ini

# Scraper Ignore
.env
__pycache__/
*.pyc
